<span>Powered by <a href='https://spotify.com'><img src='/resources/icons/spotify_wordmark_white.svg' width='75' height='22.5'></a></span>
<pre>&copy; {{ app.copyright }} <a href='https://maikdevries.com'>Maik de Vries</a> ‧ <a href='https://github.com/maikdevries/Spluff'>{{ app.version }}</a></pre>
