<meta charset='utf-8'>

<meta name='author' content='Maik de Vries'>
<meta name='description' content='Spluff is a simple tool that fully shuffles the songs in any of your Spotify playlists'>

<meta name='viewport' content='width = device-width, initial-scale = 1'>

<title>Spluff | Shuffle your Spotify playlists</title>

<link rel='icon' href='/resources/favicon.svg'>
<link rel='apple-touch-icon' href='/resources/favicon.png'>

<link rel='stylesheet' href='/css/reset.css'>

<link rel='stylesheet' href='/css/main.css'>

<script type='module' src='/js/main.mjs'></script>
