<meta charset='utf-8'>

<meta name='author' content='Maik de Vries'>
<meta name='description' content='Spluff is a simple tool that fully shuffles the songs in any of your Spotify playlists'>

<title>Spluff | Shuffle your Spotify playlists</title>

<link rel='icon' href='/resources/favicon.ico'>

<link rel='stylesheet' href='/css/main.css'>

<script type='module' src='/js/main.mjs'></script>
