<!DOCTYPE html>

<html lang='en'>

	<head>

		{% include './partials/head.njk' %}

		<link rel='stylesheet' href='/css/index.css'>

	</head>

	<body>

		<header>

			{# {% include './partials/header.njk' %} #}

		</header>

		<main>

			<samp>Currently under development. Come back soon.</samp>

		</main>

		<footer>

			{# {% include './partials/footer.njk' %} #}

		</footer>

	</body>

</html>
