<!DOCTYPE html>

<html lang='en'>

	<head>

		{% include './partials/head.njk' %}

		<link rel='stylesheet' href='/css/index.css'>

	</head>

	<body>

		<header>

			{% include './partials/header.njk' %}

		</header>

		<main>

			<div id='cardContainer'>

				<div class='card'>
					<span>STOP SKIPPING.</span>

					<p>
						Ever feel like your favourite tunes are stuck on repeat, even with shuffle mode on? Fed up with
						hearing the same songs over and over again when you're supposed to be enjoying the randomness
						of your Spotify playlist? Shuffle mode shouldn't feel like a broken record, yet you are stuck in
						a loop of hearing the same songs again and again.
					</p>
				</div>

				<div class='card'>
					<span>START <span>SHUFFLING</span>.</span>

					<p>
						Enter Spluff, your solution to the shuffle struggle. Say goodbye to musical déjà vu and welcome
						a fresh listening experience. Spluff is the antidote to repetition, intelligently reshuffling
						your playlists to guarantee a genuinely random and diverse listening experience. Try Spluff
						today and change the way you experience your favourite tunes!
					</p>
				</div>

			</div>

			<div id='promotionalContainer'>
				<span>Try Spluff and go back to listening to songs you haven't heard in a while.</span>

				<a class='promotionalLink' href='/playlists'>
					SHUFFLE NOW
					<img src='/resources/icons/shuffle.svg' width='24' height='24'>
				</a>
			</div>

		</main>

		<footer>

			{% include './partials/footer.njk' %}

		</footer>

	</body>

</html>
