<!DOCTYPE html>

<html lang='en'>

	<head>

		{% include './partials/head.njk' %}

		<link rel='stylesheet' href='/css/playlists.css'>

	</head>

	<body>

		<header>

			{% include './partials/header.njk' %}

		</header>

		<main>

			<div id='playlistContainer'>

				<ul>

					{% for playlist in playlists %}
						<li class='playlist' data-id='{{ playlist.id }}'>
							<div class='playlistData'>
								<img src='{{ playlist.image.url }}' width='{{ playlist.image.size }}' height='{{ playlist.image.size }}'>

								<div>
									<span class='playlistName'>{{ playlist.name }}</span>
									<span class='playlistDescription'>{{ playlist.description }}</span>
								</div>
							</div>

							<div class='playlistActions'>
								<progress class='hidden'></progress>

								<button type='button' class='shuffleButton'>
									<img src='/resources/icons/shuffle.svg' width='24' height='24'>
									<span>Shuffle</span>
								</button>
							</div>
						</li>
					{% endfor %}

				</ul>

			</div>

		</main>

		<footer>

			{% include './partials/footer.njk' %}

		</footer>

	</body>

</html>
