<!DOCTYPE html>

<html lang='en'>

	<head>

		{% include './partials/head.njk' %}

		<link rel='stylesheet' href='/css/playlists.css'>

		<script type='module' src='/js/playlists.mjs'></script>

	</head>

	<body>

		<header>

			{% include './partials/header.njk' %}

		</header>

		<main>

			<div id='playlistContainer'>

				<ul>

					{% for playlist in playlists %}
						<li class='playlist' data-id='{{ playlist.id }}'>
							<div class='playlistData'>
								<img loading='lazy' src='{{ playlist.image.url }}'
									width='{{ playlist.image.size }}' height='{{ playlist.image.size }}' alt=''>

								<div>
									<span class='playlistName'>
										<a href='{{ playlist.url }}' target='_blank'>{{ playlist.name }}</a>
										<img loading='lazy' src='/resources/icons/open_in_new.svg'
											width='24' height='24' alt='Open in new window'>
									</span>

									<span class='playlistDescription'>{{ playlist.description | safe }}</span>
								</div>
							</div>

							<div class='statusContainer'>
								<img class='hidden' loading='lazy' src='/resources/icons/done.svg' width='24' height='24' alt='Done'>
								<img class='hidden' loading='lazy' src='/resources/icons/error.svg' width='24' height='24' alt='Error'>

								<div>
									<span>STATUS <span class='statusCode'>UNKNOWN</span></span>
									<span class='statusDescription'>No description available</span>
								</div>

								<progress class='hidden'></progress>
							</div>

							<button class='shuffleButton' type='button'>
								<img loading='lazy' src='/resources/icons/shuffle.svg' width='24' height='24' alt=''>
								Shuffle
							</button>
						</li>
					{% endfor %}

				</ul>

			</div>

		</main>

		<footer>

			{% include './partials/footer.njk' %}

		</footer>

	</body>

</html>
