#cardContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: -75px 0 0 0;
	font-weight: bold;
}

.card {
	min-width: 500px;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	margin: 25px 50px 25px 50px;
}

.card > span {
	font-size: 3rem;
}

.card > span > span {
	color: var(--colour-spotify-green);
}

.card > p {
	max-width: 100%;
	padding: 20px 20px 20px 20px;
	background: var(--colour-white);
	border-radius: 2.5px;
	color: var(--colour-spotify-black);
	overflow: unset;
	white-space: unset;
}

.card:last-of-type > p {
	background: var(--colour-spotify-green);
}

#promotionalContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
}

#promotionalContainer > span {
	margin: 30px 0 15px 0;
	font-size: 1.25rem;
}

.promotionalLink[href='/playlists'] {
	width: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 15px 15px 15px;
	background: var(--colour-black);
	border-radius: 2.5px;
	color: var(--colour-white);
}

/* NOTE: Apply CSS filter to transform SVG from Spotify black to Spotify green colour */
.promotionalLink[href='/playlists'] > img {
	filter: brightness(0) saturate(0) invert(54%) sepia(80%) saturate(437%) hue-rotate(88deg) brightness(90%) contrast(98%);
}
