#cardContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-weight: bold;
}

.card {
	min-width: 500px;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	margin: 25px 50px 25px 50px;
}

.card > span {
	font-size: 3rem;
}

.card > span > span {
	color: var(--colour-spotify-green);
}

.card > p {
	max-width: 100%;
	padding: 20px 20px 20px 20px;
	background: var(--colour-white);
	border-radius: var(--border-radius);
	color: var(--colour-spotify-black);
	overflow: unset;
	white-space: unset;
}

.card:last-of-type > p {
	background: var(--colour-spotify-green);
}

#explanationContainer {
	max-width: 1200px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 25px 0 25px 0;
	padding: 0 50px 0 50px;
	font-weight: bold;
	box-sizing: border-box;
}

#explanationContainer > span {
	font-size: 1.5rem;
}

#explanationContainer > div {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 0 0;
}

.explanation {
	width: 315px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 20px 15px 20px;
	background: var(--colour-white);
	border-radius: var(--border-radius);
	color: var(--colour-spotify-black);
	font-weight: bold;
}

.explanation > img {
	width: 32px;
	height: 32px;
}

.explanation > span {
	display: flex;
	align-items: center;
	margin: 5px 0 0 0;
}

.explanation > span > span:has(+ img) {
	margin: 0 3px 0 0;
}

.explanation > hr {
	width: 10px;
	margin: 10px 0 10px 0;
}

.explanation > p {
	text-align: center;
	overflow: unset;
	white-space: unset;
}

#promotionalContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 25px 0 0 0;
	font-weight: bold;
}

#promotionalContainer > span {
	font-size: 1.25rem;
}

.promotionalLink[href='/playlists'] {
	width: 180px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0 0 0;
	padding: 15px 15px 15px 15px;
	background: var(--colour-black);
	border-radius: var(--border-radius);
	color: var(--colour-white);
}

/* NOTE: Apply CSS filter to transform SVG from Spotify black to Spotify green colour */
.promotionalLink[href='/playlists'] > img {
	filter: brightness(0) saturate(0) invert(54%) sepia(80%) saturate(437%) hue-rotate(88deg) brightness(90%) contrast(98%);
}
