#cardContainer {
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-weight: bold;
}

.card {
	min-width: 500px;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	margin: 20px 20px 20px 20px;
}

.card > span {
	font-size: 3rem;
}

.card:last-of-type > span {
	text-align: right;
}

.card > span > span {
	color: var(--colour-spotify-green);
}

.card > p {
	max-width: 100%;
	padding: 20px 20px 20px 20px;
	background: var(--colour-white);
	border-radius: 2.5px;
	color: var(--colour-spotify-black);
	overflow: unset;
	white-space: unset;
}

.card:last-of-type > p {
	background: var(--colour-spotify-green);
}

#promotionalContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
}

#promotionalContainer > span {
	margin: 10px 0 10px 0;
}

.promotionalLink[href='/playlists'] {
	width: 125px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px 10px 10px;
	background: var(--colour-black);
	border-radius: 2.5px;
	color: var(--colour-white);
	font-size: 0.9rem;
}

.promotionalLink[href='/playlists'] > img {
	width: 50px;
	height: 20px;
}
