:root {
	--colour-black: #0b0909;
	--colour-black-hover: #191414;
	--colour-grey: #969696;
	--colour-red: #ed4245;
	--colour-spotify-black: #191414;
	--colour-spotify-green: #1db954;
	--colour-white: #f0f0f0;

	--transition-collapse: all 0.15s linear 0s;
}

html {
	line-height: 1.6;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0 0 0 0;
	background: var(--colour-spotify-black);
	font: normal normal normal 100%/1.6 sans-serif;
	color: var(--colour-white);
	scrollbar-width: thin;
}

body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-thumb {
	background: var(--colour-grey);
	border-radius: 2.5px;
}

header {
	min-width: 700px;
	max-width: 1100px;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px auto 20px auto;
}

a[href='/'] {
	height: 50px;
}

a[href='/'] > img {
	width: 125px;
	height: 50px;
}

header > a:last-child {
	width: 150px;
	height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px 10px 10px;
	background: var(--colour-white);
	border-radius: 2.5px;
	color: var(--colour-spotify-black);
	font-size: 0.9rem;
	font-weight: bold;
}

header > div {
	position: relative;
	display: flex;
	justify-content: center;
	padding: 5px 5px 5px 5px;
	background: var(--colour-black);
	border-radius: 2.5px;
	cursor: pointer;
	user-select: none;
}

#userData {
	min-width: 125px;
	max-width: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 5px 5px 5px;
}

#userData > img:first-of-type {
	width: 32px;
	height: 32px;
}

#userData > span {
	flex: 1 1 auto;
	margin: 0 10px 0 10px;
	font-weight: bold;
}

#userData > img:last-of-type {
	transition: var(--transition-collapse);
}

#userData:has(~ #userDropdown:not(.invisible)) > img:last-of-type {
	transform: rotate(180deg);
}

#userDropdown {
	width: 150px;
	position: absolute;
	top: 125%;
	z-index: 2;
	display: flex;
	flex-direction: column;
	margin: -2.5px 0 -2.5px 0;
	padding: 10px 10px 10px 10px;
	background: var(--colour-black);
	border-radius: 2.5px;
	cursor: default;
	transition: var(--transition-collapse);
}

#userDropdown.invisible {
	visibility: hidden;
	opacity: 0;
}

#userDropdown > li {
	margin: 2.5px 0 2.5px 0;
	padding: 7.5px 7.5px 7.5px 7.5px;
	border-radius: 2.5px;
}

#userDropdown > li:hover {
	background: var(--colour-black-hover);
	cursor: pointer;
}

#userDropdown > li:has(a[href='/auth/logout']) {
	color: var(--colour-red);
}

.userDropdownEntry {
	height: 25px;
	display: flex;
	align-items: center;
}

.userDropdownEntry > img {
	margin: 0 10px 0 0;
}

main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 15px 0 15px 0;
}

footer {
	display: flex;
	justify-content: center;
	font-size: 0.75rem;
	opacity: 75%;
}

button, input, textarea {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font: inherit;
}

button {
	border: none;
	color: inherit;
	cursor: pointer;
}

a, a:visited {
	color: inherit;
	text-decoration: none;
}

ul {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	list-style: none;
}

p, span {
	margin: 0 0 0 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}
