#warningContainer {
	width: 50%;
	display: flex;
	align-items: center;
	margin: 0 0 25px 0;
	padding: 0 10px 0 10px;
}

#warningContainer > img {
	margin: 0 20px 0 10px;
}

#warningContainer > span {
	font-family: monospace;
	overflow: unset;
	white-space: unset;
}

#playlistContainer {
	width: 50%;
	display: flex;
}

#playlistContainer > ul {
	width: 100%;
	margin: -5px 0 -5px 0;
}

.playlist {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0 5px 0;
	padding: 10px 10px 10px 10px;
}

.playlistData {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.playlistData > img {
	width: 50px;
	height: 50px;
	pointer-events: none;
}

.playlistData > div {
	max-width: 80%;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 0 15px 0 15px;
}

.playlistData > div:has(> .playlistDescription:empty) {
	justify-content: center;
}

.playlistName {
	display: flex;
	align-items: center;
	color: var(--colour-spotify-green);
	font-weight: bold;
}

.playlistName > a {
	overflow: inherit;
	white-space: inherit;
	text-overflow: inherit;
}

.playlistName > img {
	width: 15px;
	height: 15px;
	margin: 0 0 0 5px;
	visibility: hidden;
}

.playlistName:has(> a:hover) > img {
	visibility: visible;
}

.playlistDescription {
	font-size: 0.75rem;
}

.statusContainer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 20px 0 0;
}

.statusContainer > img {
	cursor: pointer;
}

.statusContainer > div {
	width: 200px;
	position: absolute;
	top: 150%;
	z-index: 1;
	display: flex;
	flex-direction: column;
	padding: 10px 10px 10px 10px;
	background: var(--colour-black);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	font: 0.8rem/1.4 monospace;
	visibility: hidden;
	opacity: 0;
}

.statusContainer > div::after {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin: 0 0 0 -5px;
	border: 5px solid;
	border-color: transparent transparent var(--colour-black) transparent;
}

.statusContainer:has(> img:hover) > div {
	visibility: visible;
	opacity: 1;
}

.statusContainer > div > span:first-of-type {
	margin: 0 0 7.5px 0;
	color: var(--colour-grey);
}

.statusContainer:has(> img[src='/resources/icons/done.svg']:not(.hidden)) .statusCode {
	color: var(--colour-spotify-green);
}

.statusContainer:has(> img[src='/resources/icons/error.svg']:not(.hidden)) .statusCode {
	color: var(--colour-red);
}

.statusDescription {
	overflow: unset;
	white-space: unset;
}

.shuffleButton {
	min-width: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 7.5px 7.5px 7.5px 7.5px;
	background: var(--colour-spotify-green);
	border-radius: var(--border-radius);
	color: var(--colour-spotify-black);
}

progress {
	width: 50px;
	accent-color: var(--colour-spotify-green);
}

img.hidden, progress.hidden {
	display: none;
}
